.about {
  display: grid;
  justify-content: center;
  grid-template-rows: 10rem;

  padding: 2rem;

  min-height: 100vh;

  &_list {
    margin-left: 3rem;
    li {
      margin-top: 1.5rem;
    }
  }

  @include media("<small") {
    grid-template-rows: 12rem;
  }

  @include media("<smallest") {
    p,
    li {
      font-size: 1.6rem;
    }
  }
}
