.homepage {
  display: grid;
  justify-content: center;
  justify-items: center;

  padding-top: 2rem;
  list-style-type: none;

  &_heading-1 {
    padding-top: 1rem;
  }

  &_posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 12rem);
    width: 50%;
    min-height: 100vh;

    li {
      margin-top: 2rem;
      text-align: center;
    }
  }
}
