.loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.markdown {
  display: grid;
  grid-template-columns: 60%;
  grid-template-rows: repeat(10, min-content);
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
  padding: 1.5rem;

  &_featuredImage {
    margin-bottom: 1.5rem !important;
  }

  hr {
    margin-bottom: 1.5rem;
  }

  a {
    color: hsl(14, 19%, 61%);
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.6rem;
  }

  h4 {
    font-size: 2.4rem;
  }

  p {
    font-family: "DroidSans";
    line-height: 2;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    letter-spacing: 0.1px;
  }

  li {
    font-family: "DroidSans";
    line-height: 1.7;
  }

  ul,
  ol {
    margin-left: 5rem;
  }

  img {
    margin: auto;
    display: block;
    min-width: 60%;
    max-width: 60%;
    margin-top: 1rem;
  }

  @include media("<largest") {
    img {
      max-width: 80%;
      min-width: 80%;
    }
  }
  @include media("<large") {
    grid-template-columns: 70%;
  }
  @include media("<small") {
    grid-template-columns: 90%;

    p {
      font-size: 2.2rem;
    }

    img {
      max-width: 100%;
      min-width: 100%;
    }
  }
  @include media("<smaller") {
    ul,
    ol {
      margin-left: 4rem;
    }
  }
  @include media("<smallest") {
    ul,
    ol {
      margin-left: 3rem;
    }
  }
}
