// COLORS
:root {
  --color-background: #292929;

  --color-primary: #fff;
  --color-tertiary: #468eee;

  --color-grey: #383838;
  --color-grey-dark-1: #b2aba1;
  --color-grey-dark-2: #fff;
}

// FONT CONTROL
$normal-font-size: 1.4rem;
$default-font-size: 1.6rem;
$medium-font-size: 3rem;
$big-font-size: 5rem;

// OTHER
