.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

  background-color: var(--color-grey);
  padding: 1.6rem;

  &_logo {
    justify-self: flex-end;
    grid-column: 1;
  }

  &_list {
    display: flex;
    grid-column: 5;
    justify-self: flex-start;

    margin-top: 0.3rem;
    margin-left: 2rem;

    font-size: 2rem;
    list-style-type: none;

    li:not(:last-child) {
      margin-right: 1rem;
    }

    &-item {
      a:visited,
      a:link {
        text-decoration: none;
        color: var(--color-primary);
      }

      &--active a {
        color: var(--color-primary);
        &:after {
          content: "";
          display: block;
          margin: auto;
          height: 2px;
          width: 100%;
          background-color: var(--color-tertiary);
        }
      }
    }
  }
}
