*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5% (16 is default browser font size)
  font-family: "NunitoSansRegular", sans-serif;

  @include media("<small") {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-background);
}

::selection {
  background-color: hsl(10, 5%, 42%);
  color: #bdb7af;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
}
