h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "NunitoSansSemiBold";
  color: hsl(34, 10%, 71%);
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
}

p,
li {
  color: rgb(189, 183, 175);
  font-size: 2rem;
}

a {
  color: var(--color-grey-light-1);
  text-decoration: none;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-tertiary);
    transition: all 0.5s;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover {
    color: var(--color-primary);
  }
}

code {
  background-color: #383838;
  line-height: 1.7;
  font-size: 1.6rem;
}

pre {
  background-color: #383838;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  white-space: pre-wrap;
  word-break: break-word;

  code {
    color: hsl(34, 10%, 71%);
    font-size: 1.5rem;
  }
}
