h1,
h2,
h3,
h4 {
  color: var(--color-primary);
}

h1 {
  font-weight: 500;
  font-size: 3rem;
  text-align: center;
}

h2 {
  font-size: 2.4rem;
  font-weight: normal;
}

p,
li {
  color: var(--color-primary);
  font-size: 2rem;
}

a {
  color: var(--color-grey-light-1);
  text-decoration: none;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: var(--color-tertiary);
    transition: all 0.5s;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover {
    color: var(--color-primary);
  }
}

.markdown {
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
  padding: 1.5rem;

  &_featuredImage {
    margin-bottom: 1.5rem !important;
  }

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 4rem;
    font-weight: bold;
  }

  h2 {
    font-size: 3.2rem;
    font-weight: bold;
  }

  h3 {
    font-size: 2.7rem;
    font-weight: bold;
  }

  h4 {
    font-size: 2.2rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1.5rem;
  }

  li {
    margin-bottom: 1rem;
  }
}
