body {
  background: #151515;
  color: #ccc;
  max-width: 800px;
  margin: auto;
  padding: 0 16px;
  font-family: sans-serif;
}

a {
  color: lightblue;
}

a:visited {
  color: gray;
}

ol > li {
  margin-bottom: 0.5rem;
}

ul > li {
  margin-bottom: 0.5rem;
}

h1 {
  text-align: center;
}

h2 {
  color: tomato;
}

footer {
  text-align: center;
}

img {
  border-radius: 5px;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: block;
}

pre {
  border-radius: 4px;
  background-color: #12161b;
  padding: 0 0.3rem 1rem 1rem;
}

code {
  overflow-wrap: break-word;
  background-color: #0e1216;
  color: white;
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: black;
  }
  a {
    color: blue;
  }
  a:visited {
    color: purple;
  }
  h2 {
    color: inherit;
  }
}

@media print {
  a[href] {
    text-decoration: none;
    color: black;
  }
}

@media (min-width: 55em) {
  #artlist {
    column-count: 2;
  }
}

@media (min-width: 100em) {
  #artlist {
    column-count: 3;
  }
}
